.button {
    border: none;
    border-radius: 3px;
    display: inline-block;
    background-color: rgb(115, 168, 87);
    color: white;
    padding: 0.5em 0.6em;
    font-size: 0.8em;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    line-height: 1;
}
